<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="runWebServerMenuItem" value="true" />
    <add key="listenerPort" value="8085" />
    <add key="listenerIp" value="127.0.0.1" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minimizeOnCloseMenuItem" value="true" />
    <add key="startMinimizedMenuItem" value="true" />
  </appSettings>
</configuration>
